:root {
    --main-blue: #4980ff;
    --dark-blue: #28293E;
    --lighter-blue: #424579;
    --light-grey: #EFEFEF;
    --grey: #5C5C5C;
    --fontColor: #1E2130;
    --pink: #EDB7B3;
    --purple: #c6c2cd;
    --plainBackground: #ece9e5;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--plainBackground);

}

.gowun-batang-regular {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .gowun-batang-bold {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
  }
  

.container {
    /* border: 2px solid yellow; */
    max-width: 940px;
    margin: auto;
}


header {
    height: 60px;
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.1);
}

.container {
    max-width: 90%;
    width: 1440px;
    margin: auto;
}

.header-background b {
    color: black;

}

.header-background nav ul li a {
    color: var(--fontColor);
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}

header nav li {
    display: inline-block;
    margin-left: 10px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* Align-items may not do anything at first -- need to adjust height of container to 100% */
    height: 100%;
}


.button {
    background-color: var(--pink);
    padding: 4px 2px;
    border-radius: 50px;
}

.hero-background {
    background-color: var(--purple);
}

.section-title {
    font-size: 38px;
    letter-spacing: -1px;
    margin-bottom: 18px;
    margin-top: 0px;
    color: var(--dark-blue);
    border: none;
}

section {
    padding: 40px 0px;
}

section p {
    font-size: 20px;
    line-height: 32px;
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--fontColor);
}


#hero .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    /* Align-items may not do anything at first -- need to adjust height of container to 100% */
    height: 100%;
}

#hero {
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.1);

}

section#hero h1{
    font-size: 70px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
    letter-spacing: -2px;
    color: var(--fontColor);
}

section#hero p{
    font-size: 19px;
    max-width: 465px;
    margin: auto;
    padding: 0 100px;
    margin-bottom: 20px;
    color: var(--fontColor);
    
}

header {
    text-align: center; 
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}


ul {
    list-style-type: none;
}

header li {
    display: inline;
}

header a {
    color: white;
    text-decoration: none;
    padding: 0px 22px;
    line-height: 40px;
}

section img#profile_image {
    border-radius: 50px;
    width: 400px;

}

section#hero a {
    text-decoration: none;
}

section#hero {
    padding-top: 13px;
    padding-bottom: 58px;
}

section#hero li {
    display: inline;
    margin: 0px 6px;
}

section#hero li img {
   width: 37px;
   
}

section#hero ul {
   padding-right: 45px;
   
}

hr {
    width: 70px;
    height: 8px;
    background-color: var(--pink);
    margin: 16px auto 32px auto;
    border: none;
}

section#skillset span {
    background-color: var(--light-grey);
    width: 146px;
    height: 40px;
    border-radius: 72px;
    margin: 10px;
    display: inline-block;
    /* inline-block respects the height and width that we chose */
    line-height: 40px; 
    /* Eventually replace this line with flex-box and only works with small text*/
    font-size: 16px;
    letter-spacing: -1px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    transition: transform ease .5s, box-shadow ease .5s;
}

section#skillset span:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
}

section#skillset .skills {
    max-width: 525px;
    margin: auto;
}

 #experience .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: var(--purple);
    max-width: 100%;
    border-top: 1px solid black;
}

#experience .work-experience {
    padding: 50px 30px;
    text-align: center;
}


section.experience-degree-information details summary {
    color: black;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
}

section.experience-degree-information details p {
   margin: 0px;
}

section.experience-degree-information details h3  {
    margin: 0;
    margin-bottom: 10px;
 }

section.experience-degree-information details  {
    border-bottom: 1px solid var(--grey) ;
    padding: 15px 0px;
}

 section.experience-degree-information details:last-of-type  {
    border-bottom: none;
    padding-bottom: 0px;
 }

section.experience-degree-information details:first-of-type {
    padding-top: 0px;
 }

 h3.degree-title {
    color: black;
    font-size: 22px;
    margin: 0px;
 }

 div#degree {
    padding-bottom: 22px;
 }

 section#contact {
    background-color: #e7e3de;
 }

 section#contact a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
 }

 section#contact a img {
    vertical-align: middle;
    margin-right: 12px;
 }

 footer {
    background-color: #e7e3de;
    font-size: 16px;
 }

 footer .container {
    padding: 24px 0px;;
    border-top: 1px solid black;
 }